body{
	background-color: white;
}

#navigation-bar{
	background-color: gray;
	padding: 15px;
	border-bottom: 2px solid saddlebrown;
}

#nav-list li{
	background-color: seashell;
	border: 1px solid saddlebrown;
	font-size: 20px;
}

#nav-list li > a{
	color: sienna;
}

#heading{
	padding-top: 30px;
	padding-bottom: 20px;
}

#Chicken, #Beef, #Sushi{
	background-color: gray;
	border: 1px solid saddlebrown;
	margin-bottom: 25px;
	padding: 5px;
}
#Chicken1 {

}